.app-content {
    width: 100%;
    min-width: 800px;
    height: calc(100vh - 80px);
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;

}

.home .ch-tablePanel .ant-form-horizontal .ant-col-4:last-child {
    width: 200px !important;
    flex: unset !important;
    max-width: unset !important
}

.ant-popover-inner-content {
    //padding: 0 !important;
}

.ch-layoutSider-item {
    height: 90px !important;
}

.ch-layoutSider-item_selected {
    height: 90px !important;
}

.user-avatar {
    display: inline-block !important;
    height: 20px !important;
    line-height: 25px !important;
    margin-top: 20px;
}

.p-header {
    width: 100%;
    height: 100%;
    justify-content: space-between !important;
}